{% extends 'base.html' %}
{% block content %}
<div class = "container shadow">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-12 col-md-6 mt-3">
            {% for postagem in postagens %}
            <div class="card bg-white rounded mt-2">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'edicao_postagem' pk=postagem.pk %}">{{postagem.titulo}}</a></h5>
                    <p class="card-text">{{postagem.texto}}</p>
                    <i><p class="card-data">Autor: {{postagem.autor}} - {{postagem.data_criacao}}</p></i>
                    <a href="{% url 'detalhe_post' pk=postagem.pk %}" class="btn btn-primary">Saber Mais</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}    